* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

main {
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCard {
  width: 90vw;
  max-width: 600px;
  border-radius: 25px;
  background-color: #fff;
  padding: 25px;
}

.title {
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

.div-form{
  margin-bottom: 5px;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 135px 100px;
  gap: 10px;
}

.date{
  list-style: none;
  margin-top: 15px;
  align-self: flex-start;
}

.inputForm {
  border: none;
  padding: 10px;
  border: 1px solid #eee;
  outline: none;
}

.inputForm::placeholder {
  padding: 0px;
}

.dateForm {
  border: none;
  padding: 10px;
  border: 1px solid #eee;
  outline: none;
}

.msgAddTask{
  color: #c00;
  margin-bottom: 15px;
}

.btnCreate {
  padding: 10px 15px;
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

h3{
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #aaa;
}

.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 60vh;
  height: 60vh;
  color: #555;
}

.card {
  width: 90%;
  padding: 15px;
  border: 1px solid #00000040;
  box-shadow: 0 0 5px #00000040;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0px;
  position: relative;
}

.task {
  padding: 10px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: rgba(62, 161, 219, 1);
}

.completeIcon {
  color: rgba(62, 161, 219, 1);
}

.trashIcon:hover {
  color: #f00;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}
.deleteSpace {
  position: relative;
  width: 30%;
}

.noTasks {
  font-size: 48px;
}

.opacity{
  opacity: 0;
}

.taskDone{
  text-decoration: line-through;

}

.red{
  background-color: #ffc7ce;
  color: #9c0006;
}

.yellow{
  background-color: #ffeb9c;
  color: #9c5700;
}

.green{
  background-color: #c6efce;
  color: #006100;
}

.reference{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.reference-text{
  text-align: center;
  font-size: 14px;
  box-shadow: 0 0 3px #00000040;
  border: 1px solid #00000020;
}

@media (max-width: 500px) {
  form{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .inputForm{
    grid-column: 1 / 3;
  }
}